
<div class="container">
  <div class="row">
    <h1>{{title}}</h1>
    <p #Para>this is P tag</p>
  <h2>Enter name and job</h2>
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div class="formGroup">
      <label>  Name:</label>
      <input type="text" formControlName="name" placeholder="Your name"> 
    </div>
    <div class="formGroup">
      <label>
        Email:</label>
        <input formControlName="email" placeholder="Your email">
    </div>
    <div class="formGroup">
      <label>
        Message:</label>
        <input formControlName="message" placeholder="Your message">
    </div>
    <button type="submit">Send</button>
  </form>
  </div>
  <p>I am from : {{usercomponentData}} and {{newMsg}}</p>

  <div class="row" *ngIf="postResponse1">
    <app-users [postData]="postResponse" (sampleData)="dataFromUsers($event)" ></app-users>
  </div>
  <!-- <div class="row">
    <ag-grid-angular 
		style="width: 100%; height: 500px;" 
		class="ag-theme-quartz"
		[rowData]="rowData$ | async" 
		[columnDefs]="colDefs">
	</ag-grid-angular>
  </div> -->
 
</div>